<div>
    <br>
    <a class="ascii-logo" href="{{ SITEURL }}/index.html">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.d8888b.&nbsp;&nbsp;.d8888b.&nbsp;888&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;888&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d88P&nbsp;&nbsp;Y88bd88P&nbsp;&nbsp;Y88b888&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;888&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;888&nbsp;&nbsp;&nbsp;&nbsp;888888&nbsp;&nbsp;&nbsp;&nbsp;888888&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;888&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
        88888b.&nbsp;888&nbsp;&nbsp;&nbsp;&nbsp;888888&nbsp;&nbsp;&nbsp;&nbsp;88888888b.&nbsp;.d8888b&nbsp;88888b.&nbsp;&nbsp;<br>
        888&nbsp;"88b888&nbsp;&nbsp;&nbsp;&nbsp;888888&nbsp;&nbsp;&nbsp;&nbsp;888888&nbsp;"88b88K&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;888&nbsp;"88b&nbsp;<br>
        888&nbsp;&nbsp;888888&nbsp;&nbsp;&nbsp;&nbsp;888888&nbsp;&nbsp;&nbsp;&nbsp;888888&nbsp;&nbsp;888"Y8888b.888&nbsp;&nbsp;888&nbsp;<br>
        888&nbsp;&nbsp;888Y88b&nbsp;&nbsp;d88PY88b&nbsp;&nbsp;d88P888&nbsp;d88P&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X88888&nbsp;d88P&nbsp;<br>
        888&nbsp;&nbsp;888&nbsp;"Y8888P"&nbsp;&nbsp;"Y8888P"&nbsp;88888P"&nbsp;&nbsp;88888P'88888P"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Brazilian CTF Team<br>
    </a>
<br><br>
</div>
