<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="318BR Brazilian CTF-Team">
    <meta name="author" content="{{ AUTHOR }}">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/318br.css" type="text/css" />
<!--    <link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">  -->
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

    <!-- Favivon and touch icons -->
    <link rel="shortcut icon" href="{{ SITEURL }}/theme/img/favicon.ico">
    <link rel="apple-touch-icon" href="{{ SITEURL }}/theme/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ SITEURL }}/theme/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ SITEURL }}/theme/img/apple-touch-icon-114x114.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="nav-collapse">
            <ul class="nav">
              <li class="nav pull-left"><a href="{{ SITEURL }}/sobre.html">Sobre</a></li>
              <li class="nav pull-left"><a href="{{ SITEURL }}/archives.html">Archive</a></li>
              {% for cat, null in categories %}
              <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
              {% endfor %}
              <!-- <ul class="nav pull-right"> -->
              <!-- </ul -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      {% include 'logo.html' %}
      <div class="row">
        <div class="span9" id="content">
            {% block content %}
            {% endblock %}
        </div><!--/span-->
        <div class="span3 well sidebar-nav" id="sidebar">
            {% include 'sidebar.html' %}
        </div><!--/.well -->
      </div><!--/row-->

      <footer></footer>
    
    </div><!--/.fluid-container-->
  </body>
</html>
