<div>
    <br>
    <a class="ascii-logo" href="{{ SITEURL }}/index.html">
        &nbsp;.d8888b.&nbsp;&nbsp;d888&nbsp;&nbsp;.d8888b.&nbsp;888&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
        d88P&nbsp;&nbsp;Y88bd8888&nbsp;d88P&nbsp;&nbsp;Y88b888&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.d88P&nbsp;&nbsp;888&nbsp;Y88b.&nbsp;d88P888&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;8888"&nbsp;&nbsp;&nbsp;888&nbsp;&nbsp;"Y88888"&nbsp;88888b.&nbsp;888d888&nbsp;<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Y8b.&nbsp;&nbsp;888&nbsp;.d8P""Y8b.888&nbsp;"88b888P"&nbsp;&nbsp;&nbsp;<br>
        888&nbsp;&nbsp;&nbsp;&nbsp;888&nbsp;&nbsp;888&nbsp;888&nbsp;&nbsp;&nbsp;&nbsp;888888&nbsp;&nbsp;888888&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
        Y88b&nbsp;&nbsp;d88P&nbsp;&nbsp;888&nbsp;Y88b&nbsp;&nbsp;d88P888&nbsp;d88P888&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
        &nbsp;"Y8888P"&nbsp;8888888"Y8888P"&nbsp;88888P"&nbsp;888&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
        <br>Brazilian CTF Team<br>
    </a>
<br><br>
</div>
